# GRU/ML generated artifacts
ml_gap_velocity/data/
ml_gap_velocity/models/
ml_gap_velocity/plots/

# Optional: common generated ML artifacts
*.pt
*.pth
*.onnx
*.csv
*.npy
*.npz

.aux
.fdb_latexmk
.fls
.log
.synctex.gz
.idea/
doc/
simulation_data/
