<launch>
	<node pkg="nav_scripts" type="follow_global_path.py" name="follow_global_path" output="log">
		<param name="num_agents" value= "$(arg num_agents)" />
		<param name="world" value = "$(arg world)" />
		<param name="seed" value = "$(arg seed)" />
		<param name="start_xs" value = "$(arg start_xs)" />
		<param name="start_ys" value = "$(arg start_ys)" />
		<param name="goal_xs" value = "$(arg goal_xs)" />
		<param name="goal_ys" value = "$(arg goal_ys)" />
		<!-- param name="speed" value = "$(arg speed)" / -->
	</node>
</launch>
