<launch>
  <arg name="use_recovery_behaviors" default="true"/>
  <arg name="robot_namespace"/>
  <arg name="robot_radius"/>

  <arg name="egocircle" default="true"/>
  <arg name="vel_topic" default="$(arg robot_namespace)/cmd_vel"/>

  <arg name="global_planning_freq" default="$(optenv GM_PARAM_GLOBAL_PLANNING_FREQ 1)"/>
  <arg name="controller_freq" default="$(optenv GM_PARAM_CONTROLLER_FREQ 5)"/>

  <node pkg="modify_stdr_scan" type="modify_stdr_scan" name="modify_stdr_scan" output="log" args="$(arg robot_namespace) $(arg robot_radius)" />	

  <node name="egocircle_node" pkg="egocircle" type="ego_circle" if="$(arg egocircle)">
      <param name="base_frame_id" value="$(arg robot_namespace)"/>
      <param name="odom_frame_id" value="map_static"/>
      <remap from="/scan" to="$(arg robot_namespace)/mod_laser_0"/>
  </node>


  <arg name="debug" default="false"/>

  <arg name="debug_prefix" value="" unless="$(arg debug)"/> <!-- valgrind - -tool=callgrind -->
  <arg name="debug_prefix" value="xterm -e gdb -ex run --args" if="$(arg debug)"/>

  <!-- xterm -e gdb -ex run - -args -->
  
  
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find nav_configs)/config/custom_teb_rosconsole.conf"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" launch-prefix="$(arg debug_prefix)">
      <rosparam file="$(find dynamic_gap)/params/dyn_teb_costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find dynamic_gap)/params/dyn_teb_costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find dynamic_gap)/params/dyn_teb_local_costmap_params.yaml" command="load" />
      <rosparam file="$(find dynamic_gap)/params/dyn_teb_global_costmap_params.yaml" command="load" />
      <rosparam file="$(find dynamic_gap)/params/dyn_teb_local_planner_params.yaml" command="load" />
      
      <!-- Here we load our costmap conversion settings -->
      <rosparam file="$(find dynamic_gap)/params/dyn_teb_costmap_converter_params.yaml" command="load" />
      <param name="TebLocalPlannerROS/include_costmap_obstacles" value="False" />
      <param name="TebLocalPlannerROS/include_dynamic_obstacles" value="True" />

      <param name="base_global_planner" value="navfn/NavfnROS" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />


      <param name="local_costmap/static_layer/map_topic" value="/known_map" />  

      <param name="TebLocalPlannerROS/map_frame" value="known_map"/>

      <remap from="map" to="/map"/>
      <remap from="/scan" to="/point_scan"/>
      <remap from="/cmd_vel" to="$(arg vel_topic)"/>
      <remap from="/odom" to="$(arg robot_namespace)/odom"/>
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dynamic_gap)/rviz/dgap.rviz"/>

  <node name="standalone_converter" pkg="costmap_converter" type="standalone_converter" output="screen">
    <param name="converter_plugin" value="costmap_converter::CostmapToDynamiQtacles" />
    <param name="costmap_topic" value="/move_base/local_costmap/costmap" />
    <remap from="/odom" to="$(arg robot_namespace)/odom"/>
  </node>

  <node name="vis_teb_obsts" pkg="dynamic_gap" type="vis_teb_obsts.py" output="screen" />

</launch>
