<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find nav_configs)/config/dynamic_gap_rosconsole.conf"/>

  <arg name="use_recovery_behaviors" default="true"/>
  <arg name="robot_namespace" default="robot0" />
  <arg name="robot_radius" default="0.20"/>
  <arg name="num_agents" default="0"/>
  <arg name="simulation" default="true"/>

  <arg name="rviz" default="false"/>

 <node pkg="tf" type="static_transform_publisher" name="world2kmap" args="0 0 0 0 0 0  map known_map 20" />

  <arg name="vel_topic" default="$(arg robot_namespace)/cmd_vel"/>
  <arg name="projection_operator" default="true"/>

  <arg name="debug" default="false" />

  <arg name="xterm_prefix" value="xterm -e gdb -ex run --args" />
  <arg name="valgrind_prefix" value="valgrind --leak-check=full" />

  <arg name="debug_prefix" value="" unless="$(arg debug)"/>
  <arg name="debug_prefix" value="xterm -e gdb -ex run --args" if="$(arg debug)"/>

  <arg name="global_planning_freq" default="$(optenv GM_PARAM_GLOBAL_PLANNING_FREQ 1)"/>
  <arg name="controller_freq" default="$(optenv GM_PARAM_CONTROLLER_FREQ 5)"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="log" clear_params="true" launch-prefix="$(arg debug_prefix)">
      <param name="base_local_planner" value="dynamic_gap/DynamicGapPlanner" />      
      
      <rosparam file="$(find dynamic_gap)/params/common_costmap_params.yaml" command="load" ns="global_costmap"/>
      <rosparam file="$(find dynamic_gap)/params/common_costmap_params.yaml" command="load" ns="local_costmap"/>
      <rosparam file="$(find dynamic_gap)/params/local_costmap_params.yaml" command="load"/>
      <rosparam file="$(find dynamic_gap)/params/global_costmap_params.yaml" command="load"/>
      
      <!-- none of these have to do with frames/ids -->
      <rosparam file="$(find nav_configs)/config/move_base_params.yaml" command="load"/>
      <rosparam file="$(find nav_configs)/config/global_planner_params.yaml" command="load" ns="GlobalPlanner"/>
      <rosparam file="$(find dynamic_gap)/params/dynamicgap_local_planner_holonomic_params.yaml" command="load"/>

      <param name="recovery_behavior_enabled" value="false" unless="$(arg use_recovery_behaviors)"/>

      <param name="controller_frequency" value="$(arg controller_freq)" />
      <param name="planner_frequency" value="$(arg global_planning_freq)"/>

      <remap from="cmd_vel" to="$(arg vel_topic)"/>
      <remap from="/odom" to="$(arg robot_namespace)/odom"/>

      <!-- Approach-specific parameters/remappings/etc -->      
      <param name="DynamicGapPlanner/map_frame_id" value="known_map"/>
      <param name="DynamicGapPlanner/odom_frame_id" value="map_static"/>
      <param name="DynamicGapPlanner/robot_frame_id" value="$(arg robot_namespace)"/>
      <param name="DynamicGapPlanner/sensor_frame_id" value="$(arg robot_namespace)_laser_0"/>

      <param name="DynamicGapPlanner/projection_operator" value="$(arg projection_operator)"/>

      <!-- remapping for obstacles -->
      <param name="DynamicGapPlanner/num_agents" value="$(arg num_agents)" />
      <param name="global_costmap/obstacle_layer/scan/topic" value="$(arg robot_namespace)/mod_laser_0" />
      <param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)" />

      <param name="local_costmap/obstacle_layer/scan/topic" value="$(arg robot_namespace)/mod_laser_0" />
      <param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)" />
      
  </node>

  <!-- RUN KEYBOARD COMMAND VELOCITY GENERATOR -->
  <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="log">
        <param name="robot_namespace" value="$(arg robot_namespace)"/>
  </node> -->


  <!-- node type="rqt_reconfigure" name="reconfig" pkg="rqt_reconfigure" /> -->
</launch>
