<launch>
  <arg name="robot_namespace"/>
  <arg name="rbtx" default="$(optenv GM_PARAM_RBT_X 1)"/>
  <arg name="rbty" default="$(optenv GM_PARAM_RBT_Y 2)"/>
  <arg name="fov" default="$(optenv GM_PARAM_RBT_FOV 60)"/>
  <arg name="robot_file" default="holonomic_robot_$(arg fov)_bumper.xml"/>

  <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find dynamic_gap)/stdr_robots/robots/$(arg robot_file) $(arg rbtx) $(arg rbty) 1.57" />
</launch>
